body {
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 32px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 28px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
}
